@model UserAccountViewModel;
@{
    ViewData["Title"] = "Account";
}

<h1>Account</h1>

@if (!string.IsNullOrEmpty(Model?.Error.message))
{
    <div class="alert alert-@Model.Error.type alert-dismissible" role="alert">
        <div>@Model.Error.message</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="card topmargin">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h2>Account details</h2>

                <p><strong>Name: </strong>@Model?.Username</p>
                <p><strong>Level: </strong>@Model?.Level</p>
                @{
                    if (Model?.Coins != null)
                    {
                        <p><strong>Coins: </strong>@Model.Coins.Coins</p>
                    }
                    else
                    {
                        <p><strong>Coins: </strong>No coins registered</p>
                    }
                }
            </div>
        </div>
        <form method="post" asp-controller="User" asp-action="Logout">
            <button class="btn btn-primary" type="submit">Logout</button>
        </form>
    </div>
</div>

@if (Model?.Users != null)
{
    <div class="card topmargin">
        <div class="card-body">
            <div class="row">
                <h2>Transfer Money</h2>
                <form method="post" asp-action="SendMoney" asp-controller="User">
                    <div class="col-md-8 topmargin">
                        <input type="number" name="amount" pattern="[0-9]+" min="1" max="@Model.Coins?.Coins" required="required" class="form-control" placeholder="Amount to be transferred" />
                    </div>
                    <div class="col-md-8 topmargin">
                        <select name="reciever" class="form-select topmargin">
                            @{
                                foreach (var user in Model.Users)
                                {
                                    <option value="@user">@user</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-8 topmargin">
                        <button type="submit" class="btn btn-primary">Transfer money</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}